<link rel="stylesheet" href="/css/gamepage.css" asp-append-version="true">
@model GamePlay.Models.GameViewModel
@{
    ViewData["Title"] = "Page";
    Context.Request.Cookies.TryGetValue("iduser", out string? iduser);
}

<div class="gameContent">


    <div class="row justify-content-center">


        <div class="col-6">
            <h1 class="gameName d-inline-block row-cols-1">@Model.Game.Title</h1> @*Нужно вставить название игры*@
            @*Изображения*@
            <section class="images" id="images">
                <div id="imagesCarousel" class="carousel slide container" data-bs-ride="carousel" style="padding:0;">

                    <div class="carousel-inner">
                        @foreach (var img in Model.Game.Images)
                        {
                            @if (img == Model.Game.Images.First())
                            {
                                <div class="carousel-item active">
                                    <img src="@img.Source" alt="/Images/defImg.png" class="d-block image"> @*Нужно вставить ссылки на изображения*@
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <img src="@img.Source" alt="/Images/defImg.png" class="d-block image">  @*Нужно вставить ссылки на изображения*@
                                </div>
                            }
                        }

                        <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>



                    <div class="carousel-indicators" style="margin-bottom: 0;">
                        @for (int i = 0; i < Model.Game.Images.Count(); i++)
                        {
                            @if (i == 0)
                            {
                                <button type="button" class="active" data-bs-target="#imagesCarousel" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i" style="width: 100px; height:auto;">
                                    <img class="d-block w-100 img-fluid indicators" src="@Model.Game.Images[i].Source" /> @*Нужно вставить ссылки на изображения*@
                                </button>
                            }
                            else
                            {
                                <button type="button" data-bs-target="#imagesCarousel" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i" style="width: 100px; height:auto;">
                                    <img class="d-block w-100 img-fluid indicators" src="@Model.Game.Images[i].Source" /> @*Нужно вставить ссылки на изображения*@
                                </button>
                            }
                        }
                    </div>
                </div>
            </section>


        </div>

        <div class="col-6">

            <h1 class="row-cols-1"> </h1>
            <div class="row right-menu-card">
                <div class="col-8 info">
                    <div class="tab-content tab-content-info card" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
                            <h5 class="right-menu-title-pane">Общая информация</h5>
                            <p class="main-info">
                                Жанры:
                                @foreach (var genre in Model.Game.Genres)
                                {
                                    @if (genre != Model.Game.Genres.Last())
                                    {
                                        genre.Name += ", ";
                                    }
                                    <span class="main-info">@genre.Name</span>
                                }
                            </p>
                            <p class="main-info">Разработчик: <span class="main-info">@Model.Game.Studio?.Name</span></p>
                            <p class="main-info">Издатель: <span class="main-info">@Model.Game.Publisher?.Name</span></p>
                            <p class="main-info">Дата выхода: <span class="main-info">@Model.Game.Release_date.ToString("dd MMMM yyyy")</span></p>
                            <p class="main-info">
                                Платформы:
                                @foreach (var platform in Model.Game.Platforms)
                                {
                                    @if (platform != Model.Game.Platforms.Last())
                                    {
                                        platform.Name += ", ";
                                    }
                                    <span class="main-info">@platform.Name</span>
                                }
                            </p>
                        </div>
                        @if (Model.Game.HasSystemRequirments)
                        {
                            <div class="tab-pane fade" id="nav-systemRequirements" role="tabpanel" aria-labelledby="nav-systemRequirements-tab">
                                <h5 class="right-menu-title-pane">Системные требования</h5>
                                <p class="text-white systemRequirementsTitle">Минимальные</p>
                                <p class="systemRequirements">
                                <p class="systemRequirements">ОС: <span class="systemRequirements">@Model.Game.Minimum?.OS</span></p>
                                <p class="systemRequirements">Процессор: <span class="systemRequirements">@Model.Game.Minimum?.Processor</span></p>
                                <p class="systemRequirements">ОЗУ: <span class="systemRequirements">@Model.Game.Minimum?.Memory</span></p>
                                <p class="systemRequirements">Видеокарта: <span class="systemRequirements">@Model.Game.Minimum?.Graphics_Card</span></p>
                                <p class="systemRequirements">Размер на жестком диске: <span class="systemRequirements">@Model.Game.Minimum?.HDD_Space</span></p>
                                </p> @*Нужно вставить системные требования*@
                                <p class="text-white systemRequirementsTitle">Рекомендуемые</p>
                                <p class="systemRequirements">
                                <p class="systemRequirements">ОС: <span class="systemRequirements">@Model.Game.Recomended?.OS</span></p>
                                <p class="systemRequirements">Процессор: <span class="systemRequirements">@Model.Game.Recomended?.Processor</span></p>
                                <p class="systemRequirements">ОЗУ: <span class="systemRequirements">@Model.Game.Recomended?.Memory</span></p>
                                <p class="systemRequirements">Видеокарта: <span class="systemRequirements">@Model.Game.Recomended?.Graphics_Card</span></p>
                                <p class="systemRequirements">Размер на жестком диске: <span class="systemRequirements">@Model.Game.Recomended?.HDD_Space</span></p>
                                </p> @*Нужно вставить системные требования*@
                            </div>
                        }
                        <div class="tab-pane fade" id="nav-feedbacks" role="tabpanel" aria-labelledby="nav-feedbacks-tab">
                            <h5 class="right-menu-title-pane">Отзывы</h5>

                            @if (Model.Game.Ratings.Count == 0)
                            { @*Ещё никто не оставил отзыв*@
                                <p class="info-feedback-message">Ещё никто не оставил отзыв</p>
                            }
                            @if (iduser != null && !Model.Game.Ratings.Any(r => r.User.Iduser == int.Parse(iduser)))
                            {
                                <button type="button" class="btn btn-primary addFeedback card" data-bs-toggle="modal" data-bs-target="#add-feedback-modal">
                                    Добавить отзыв
                                </button>
                                @Html.Partial("AddFeedbackPartial")
                            }
                            else if(iduser == null)
                            { @*Пользователь не зашёл*@
                                <p class="info-feedback-message">Для добавления отзыва вы должны зайти в аккаунт</p>
                            }
                            else if(Model.Game.Ratings.Any(r => r.User.Iduser == int.Parse(iduser)))
                            { @*Пользователь уже оставил отзыв на эту игру*@
                                <p class="info-feedback-message">Вы уже оставили отзыв на данную игру</p>
                            }

                            @foreach (var rating in Model.Game.Ratings)
                            {
                                <div class="card feedback">
                                    <div class="card-body feedback">
                                        <p class="userName">@rating.User.Login <span class="rating">@rating.Middle ☆</span></p> @*Нужно вставить имя пользователя*@
                                        <p class="feedback">Сюжет: <span class="feedback">@rating.Plot ☆</span></p> @*Нужно вставить оценку сюжета*@
                                        <p class="feedback">Геймплей: <span class="feedback">@rating.Gameplay ☆</span></p> @*Нужно вставить оценку геймплея*@
                                        <p class="feedback">Графика: <span class="feedback">@rating.Graphics ☆</span></p> @*Нужно вставить оценку графики*@
                                        <p class="feedback">Впечатление: <span class="feedback">@rating.Emotions ☆</span></p> @*Нужно вставить оценку впечатлений*@
                                        @if (rating.Comment != null)
                                        {
                                            <p class="commentTitle">Комментарий:
                                            <p class="comment">@rating.Comment</p> @*Нужно вставить комментарий*@
                                            </p>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="nav-stores" role="tabpanel" aria-labelledby="nav-stores-tab">
                            <h5 class="right-menu-title-pane">Магазины</h5>
                            @*Нужно вставить магазины*@
                        </div>

                    </div>
                </div>

                <nav class="navigation col-4">
                    <div class="nav flex-column nav-tabs" id="nav-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="nav-information-tab" data-bs-toggle="tab" data-bs-target="#nav-information" type="button" aria-controls="nav-information" aria-selected="true">Общая информация</button>
                        @if (Model.Game.HasSystemRequirments)
                        {
                            <button class="nav-link" id="nav-systemRequirements-tab" data-bs-toggle="tab" data-bs-target="#nav-systemRequirements" type="button" aria-controls="nav-systemRequirements" aria-selected="true">Системные требования</button>
                        }
                        <button class="nav-link" id="nav-feedbacks-tab" data-bs-toggle="tab" data-bs-target="#nav-feedbacks" type="button" aria-controls="nav-feedbacks" aria-selected="false">Отзывы</button>
                        <button class="nav-link" id="nav-stores-tab" data-bs-toggle="tab" data-bs-target="#nav-stores" type="button" aria-controls="nav-stores" aria-selected="false">Магазины</button>
                    </div>
                </nav>

                @*Скрипт изменения высоты правой менюшки*@
                <script>
                    changeRightMenuHeight(); @*Вызов при загрузке страницы*@
                    window.onresize = changeRightMenuHeight; @*Добавление вызова при изменении размера окна*@

                    function changeRightMenuHeight() {
                        let img = document.getElementById('images'); @*блок с изображениями*@
                        let rightMenu = document.getElementById('nav-tabContent'); @*блок правой меню*@
                        rightMenu.style.maxHeight = img.clientHeight-3+'px'; @*Изменение размера*@
                    }
                </script>
            </div>


        </div>
        @*Описание*@
        <div class="description">
            <p>@Model.Game.Annotation</p> @*Нужно вставить описание игры*@
        </div>
    </div>
</div>