<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true">

@model IEnumerable<GamePlay.Models.User>
@{
    ViewData["Title"] = "Home Page";
    String[] FilterNames = { "Жанр", "Особенности", "Платформа" };
    String[] FilterId = { "genre", "feature", "platform" };
}


<div class="row">

    <div class="col-3">
        @*Фильтры*@
        
        <div class="card text-white filters">
            <p style="font-size: 20px; text-align:center">Фильтры</p>
            <div class="accordion accordion-flush" id="filtersPanel">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[i]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-@i" aria-expanded="true" aria-controls="filtersPane-collapse-@i">
                                @FilterNames[i]
                            </button>
                        </h2>
                    </div>
                    <div id="filtersPanel-collapse-@i" class="accordion-collapse collapse" aria-labelledby="@FilterId[i]-header">
                        <div class="accordion-body">
                            <form class="genre">
                                @for(int j=0; j<10; j++) @*Для каждого элемента (заменить на foreach)*@
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheck @j">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            @FilterNames[i] @j @*Нужно вставить название жанров, особенностей и платформ*@
                                        </label>
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                }
            </div>
            <input type="submit" class="btn btn-primary" value="Подтвердить" onclick="this.blur()"> @*Кнопка подтверждения*@
        </div>
    </div>


    <div class="col-9">
        @*Карточки*@
        <div class="row row-cols-1 row-cols-md-4 g-4">
                    @for (int i = 0; i < 21; i++)
                    {
                    <a href="#" class="col btn"> @*Нужно вставить ссылку на страницу с игрой*@
                        <div class="card h-100 text-white">
                              <img class="card-img-top" src="">@*Нужно всавить ссылку на картинку*@
                              <div class="card-body">
                                    <h5 class="card-title text-center">name @i</h5> @*Нужно вставить название игры*@
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text year text-start">year @i</p> @*Нужно вставить год игры*@
                                        </div>
                                        <div class="col">
                                            <p class="card-text rating text-end">rating @i★</p> @*Нужно вставить оценку игры*@
                                        </div>
                                    </div>
                              </div>
                        </div>
                    </a>
                    }
        </div>
    </div>
</div>


