<link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true">

@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    String[] FilterNames = { "Жанр", "Платформа", "Студии", "Дата выхода", "Оценка игроков" };
    String[] FilterId = { "genre", "studio", "platform", "out-date", "user-rate" };
}


<div class="row">

    <div class="col-3">
        @*Фильтры*@
        <form asp-controller="Home" asp-action="Index" method="get">
            <div class="card text-white filters">
                <p style="font-size: 20px; text-align:center">Фильтры</p>
                <div class="accordion accordion-flush" id="filtersPanel">
                    @*Жанры*@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[0]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-0" aria-expanded="true" aria-controls="filtersPane-collapse-0">
                                @FilterNames[0]
                            </button>
                        </h2>
                    </div>
                    <div id="filtersPanel-collapse-0" class="accordion-collapse collapse" aria-labelledby="@FilterId[0]-header">
                        <div class="accordion-body">
                            <div class="genre">
                                @for (int j = 0; j < Model.Genres.Count; j++) @*Для каждого элемента (заменить на foreach)*@
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.Genres[j].Selected">
                                        <label class="form-check-label" asp-for="@Model.Genres[j].Selected">
                                            @Model.Genres[j].Item?.Name @*Нужно вставить название жанров, студий и платформ*@
                                        </label>
                                        <input type="hidden" asp-for="@Model.Genres[j].Item.Idgenre" />
                                        <input type="hidden" asp-for="@Model.Genres[j].Item.Name" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @*Платформы*@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[1]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-1" aria-expanded="true" aria-controls="filtersPane-collapse-1">
                                @FilterNames[1]
                            </button>
                        </h2>
                    </div>
                    <div id="filtersPanel-collapse-1" class="accordion-collapse collapse" aria-labelledby="@FilterId[1]-header">
                        <div class="accordion-body">
                            <div class="genre">
                                @for (int j = 0; j < Model.Platforms.Count; j++) @*Для каждого элемента (заменить на foreach)*@
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.Platforms[j].Selected">
                                        <label class="form-check-label" asp-for="@Model.Platforms[j].Selected">
                                            @Model.Platforms[j].Item?.Name @*Нужно вставить название жанров, студий и платформ*@
                                        </label>
                                        <input type="hidden" asp-for="@Model.Platforms[j].Item.Idplatform" />
                                        <input type="hidden" asp-for="@Model.Platforms[j].Item.Name" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @*Студии*@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[2]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-2" aria-expanded="true" aria-controls="filtersPane-collapse-2">
                                @FilterNames[2]
                            </button>
                        </h2>
                    </div>
                    <div id="filtersPanel-collapse-2" class="accordion-collapse collapse" aria-labelledby="@FilterId[2]-header">
                        <div class="accordion-body">
                            <div class="genre">
                                @for (int j = 0; j < Model.Studios.Count; j++) @*Для каждого элемента (заменить на foreach)*@
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" asp-for="@Model.Studios[j].Selected">
                                        <label class="form-check-label" asp-for="@Model.Studios[j].Selected">
                                            @Model.Studios[j].Item?.Name @*Нужно вставить название жанров, студий и платформ*@
                                        </label>
                                        <input type="hidden" asp-for="@Model.Studios[j].Item.Idstudio" />
                                        <input type="hidden" asp-for="@Model.Studios[j].Item.Name" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @*Дата выхода*@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[3]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-3" aria-expanded="true" aria-controls="filtersPane-collapse-3">
                                @FilterNames[3]
                            </button>
                        </h2>
                    </div>

                    <div id="filtersPanel-collapse-3" class="accordion-collapse collapse" aria-labelledby="@FilterId[3]-header">
                        <div class="accordion-body">
                            <div class="genre">
                                <div class="out-date">
                                    Год с:
                                    <input asp-for="@Model.MinimumYear" class="form-control" type="number" id="start-date" min="1900" max="2100"> @*Дата начала, нужно также вставить минимальный и максимальный год*@
                                    Год по:
                                    <input asp-for="@Model.MaximumYear" class="form-control" type="number" id="end-date" min="1900" max="2100"> @*Дата окончания, нужно также вставить минимальный и максимальный год*@
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Оценка*@
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="@FilterId[4]-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filtersPanel-collapse-4" aria-expanded="true" aria-controls="filtersPane-collapse-4">
                                @FilterNames[4]
                            </button>
                        </h2>
                    </div>

                    <div id="filtersPanel-collapse-4" class="accordion-collapse collapse" aria-labelledby="@FilterId[4]-header">
                        <div class="accordion-body">
                            <div class="genre">
                                <div class="user-rate">
                                    Минимум
                                    <input asp-for="@Model.MinimumRate" class="form-control" type="number" id="start-date" min="0" max="5"> @*Дата начала, нужно также вставить минимальный и максимальный год*@
                                    Максимум
                                    <input asp-for="@Model.MaximumRate" class="form-control" type="number" id="end-date" min="0" max="5"> @*Дата окончания, нужно также вставить минимальный и максимальный год*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Подтвердить" onclick="this.blur()"> @*Кнопка подтверждения*@
            </div>
        </form>
    </div>


    <div class="col-9">
        @*Карточки*@
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var game in Model.Games)
            {
                <a asp-action="Page" asp-controller="Games" asp-route-id="@game.Idgame" class="col btn">
                    @*Нужно вставить ссылку на страницу с игрой*@
                    <div class="card h-100 text-white">
                        <img class="card-img-top" src="@game.Main_Image?.Source">@*Нужно всавить ссылку на картинку*@
                        <div class="card-body">
                            <h5 class="card-title text-center">@game.Title</h5> @*Нужно вставить название игры*@
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text year text-start">@game.Release_date.Year</p> @*Нужно вставить год игры*@
                                </div>
                                <div class="col">
                                    <p class="card-text rating text-end">@game.MiddleRate ☆</p> @*Нужно вставить оценку игры*@
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>


