<link rel="stylesheet" href="/css/newspage.css" asp-append-version="true" />

@model NewsViewModel

@{
    ViewData["Title"] = "News";
    String[] FilterNames = { "Жанр", "Тип", "Платформа" };
    String[] FilterId = { "genre", "type", "platform" };
}


<div class="row" style="justify-content:center;">
    @*Карточки с новостями*@
    <div class="col-9">
        <div class="row">
            @foreach (var news in Model.News)
            {
                <a href="@news.Url" class="row btn">
                    @*Нужно вставить ссылку на новость*@
                    <div class="card text-white">
                        <div class="row">
                            <div class="col-4" style="padding-left:0;">
                                <img src="@news.Img" class="img-fluid"> @*Нужно вставить ссылку на изображение*@
                            </div>
                            <div class="col-8 news-info">
                                <div class="card-body">
                                    <h5 class="card-title text center text-truncate">@news.Title</h5> @*Нужно вставить название статьи*@
                                    <div class="row">
                                        <div class="col">
                                            <p class="card-text text-start">Автор: @news.User.Login</p> @*Нужно вставить автора статьи*@
                                        </div>
                                        <div class="col ">
                                            <p class="card-text text-end">Источник: @news.Source</p> @*Нужно вставить источник*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
            }
        </div>
    </div>
</div>

