@{
    IndexViewModel? model = (IndexViewModel?)ViewData["Games"];
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamePlay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GamePlay.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
    
</head>
<body style="background : #222B3D">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-3" style="background:#33405A;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GamePlay</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a> @*Кнопка главной страницы*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="News" asp-action="Index">Новости</a> @*Кнопка страницы новостей*@
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Topics" asp-action="Index">Подборки</a> @*Кнопка страницы с подборками*@
                        </li>
                        <li class="search d-flex">
                            @*<input type="search" class="form-control" placeholder="Найти игру...">
                            <button class="btn btn-outline-success" id="search-button" type="submit"></button>*@
                                <select id="select-state" class="form-control" placeholder="Поиск...">
                                @if (model != null)
                                {
                                    <option value="">Найти игру</option>
                                    @foreach(var game in model.Games)
                                    {
                                        <option value="@game.Idgame">@game.Title</option>
                                    }
                                }
                            </select>
                        </li>
                    </ul>
                    
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GamePlay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
    $(document).ready(function () {
        $('select').change(function () {
            var url = '@Url.Action("Page", "Games", new { id = "__id__" })';
            window.location.href = url.replace('__id__', $(this).val());
        });
    });
</script>
